[submodule "PHP"]
	path = includes/lib/iATSPayments
	url = https://github.com/iATSPayments/PHP.git
[submodule "includes/lib/php-credit-card-validator"]
	path = includes/lib/php-credit-card-validator
	url = https://github.com/ravinderk/php-credit-card-validator.git
